@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    transform: translateY(0); } }

@keyframes disappear {
  0% { }
  100% {
    opacity: 0; } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Simple reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #3D4C53; }

.header__text-box {
  text-align: center; }

.heading-primary--intro {
  animation: moveInLeft .8s ease-out, disappear .8s ease-out 2.1s forwards;
  display: block;
  font-size: 5rem;
  height: 8rem;
  padding-left: 10rem; }

.heading-primary--main {
  animation: moveInBottom .8s ease-out 1s backwards;
  display: block;
  font-size: 8rem;
  font-weight: 700;
  text-shadow: .5px .5px black; }
  .heading-primary--main-1 {
    font-weight: 400; }

.heading-primary--sub {
  animation: moveInBottom .7s ease-out 2s backwards;
  display: block;
  font-size: 1.6rem;
  letter-spacing: .3rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  letter-spacing: .2rem;
  text-align: left;
  word-wrap: break-word; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.box {
  background-color: #F7F7F7;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  height: 55rem; }
  .box__picture {
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 30px;
    height: 22rem;
    padding-bottom: 20rem; }
    .box__picture--1 {
      background-image: url(../img/number1.jpg); }
    .box__picture--2 {
      background-image: url(../img/number2.jpg); }
    .box__picture--3 {
      background-image: url(../img/number3.jpg); }
  .box__heading {
    padding-top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    color: #B29600;
    width: 98%;
    text-transform: uppercase; }
  .box__details {
    padding: 3rem; }
    .box__details ul {
      list-style-type: none;
      padding-bottom: 3rem; }
    .box__details li {
      font-size: 1.6rem;
      padding: 1rem;
      text-align: center; }
      .box__details li:not(:last-child) {
        border-bottom: 1px solid #eee; }

.btn, .btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: .3rem;
  padding: 1rem 3rem;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer; }

.btn:hover {
  background-image: linear-gradient(to right bottom, rgba(178, 150, 0, 0.8), rgba(133, 113, 77, 0.8));
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-3px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn--gold {
  border: 1px solid #85714d;
  color: #3D4C53; }
  .btn--gold::after {
    border: 1px solid #85714d; }

.btn--animated {
  animation: appear .9s ease-out 3.3s backwards; }

.nav__list {
  font-size: 1.6rem;
  position: absolute;
  top: 6.5rem;
  right: 6.5rem; }
  .nav__list--item {
    color: #3D4C53;
    float: right;
    font-weight: 500;
    display: inline-block;
    text-decoration: none; }
    .nav__list--item:not(:last-child) {
      padding-left: 2rem; }
    .nav__list--item:hover {
      color: #B29600;
      cursor: pointer; }

.about-me__img {
  width: 90%;
  border-radius: 2px;
  display: block;
  margin: 0 auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  border-radius: 3px;
  font-weight: 500;
  height: 95vh;
  width: 100%;
  padding-bottom: 30rem;
  position: relative; }
  .header__shape {
    font-size: 3rem;
    font-weight: 400;
    padding: 2rem;
    position: relative; }
  .header__img {
    border-radius: 50%;
    float: left;
    height: 5rem;
    width: 5rem; }
    .header__img::after {
      content: "";
      clear: both;
      display: table; }
    @supports (clip-path: polygon(0 0)) {
      .header__img {
        shape-outside: circle(50% at 50% 50%);
        border-radius: none;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%); } }
  .header__caption-firstName {
    font-weight: 700;
    padding-left: 1rem; }
