.header {
    border-radius: 3px;
    font-weight: 500;
    height: 95vh;
    width: 100%;
    padding-bottom: 30rem;
    position: relative;

    &__shape {
        font-size: 3rem;
        font-weight: 400;        
        padding: 2rem;
        position: relative;
    }

    &__img {
        @include clearfix;
        border-radius: 50%;
        float: left;
        height: 5rem;
        width: 5rem;

        @supports (clip-path: polygon(0 0) or (-webkit-clip-path: polygon(0 0)) ) {
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;    
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
        }
    }

    &__caption {
        float: left;

        &-firstName {
            font-weight: 700;
            padding-left: 1rem;
        }
    }

}
