.box {
  @include addShadow;

  background-color: $color-white;
  height: 55rem;
  border: 1px solid $color-grey-light-2;

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 10px;
    padding-bottom: 20rem;

    &--1,
    &--2,
    &--3 {
      margin: 0 auto;
      margin-top: 2rem;
      width: 95%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--1 {
      background-image: url(../../img/GIFs/url_shortener.gif);
    }

    &--2 {
      background-image: url(../../img/GIFs/book_tracker.gif);
    }

    &--3 {
      background-image: url(../../img/GIFs/choropleth_map.gif);
    }
  }

  &__heading {
    width: 98%;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 4rem;
    text-transform: uppercase;
    width: 98%;
  }

  // &__heading-span {
  // -webkit-box-decoration-break: clone;
  // box-decoration-break: clone;
  // padding: 1rem 2rem;
  // &--1 {
  // }

  // }

  &__details {
    padding: 3rem;

    ul {
      list-style-type: none;
      padding-bottom: 3rem;
    }

    li {
      font-size: $default-font-size;
      padding: 1rem;
      text-align: center;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }
}
