.box {
  @include addShadow;

  background-color: $color-white;
  height: 55rem;
  border: 1px solid $color-grey-light-2;

  @include respond(tab-port) {
    height: 60rem;
  }

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 6px;
    padding-bottom: 20rem;

    &--1,
    &--2,
    &--3 {
      margin: 0 auto;
      margin-top: 2rem;
      width: 95%;
      background-size: contain;
      background-repeat: round;

      @include respond(tab-port) {
        height: 27rem;
      }
    }

    &--1 {
      background-image: url(https://github.com/adambrikman/portfolio/blob/master/img/GIFs/url_shortener.gif?raw=true);
    }

    &--2 {
      background-image: url(https://github.com/adambrikman/portfolio/blob/master/img/GIFs/book_tracker.gif?raw=true);
      background-repeat: no-repeat;
    }

    &--3 {
      background-image: url(https://github.com/adambrikman/portfolio/blob/master/img/GIFs/d3_map.gif?raw=true);
    }
  }

  &__heading {
    width: 98%;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 4rem;
    text-transform: uppercase;
    width: 98%;
  }

  &__details {
    padding: 3rem;

    ul {
      list-style-type: none;
      padding-bottom: 3rem;
    }

    li {
      font-size: $default-font-size;
      padding: 1rem;
      text-align: center;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }
}
