.btn {
  &,
  &:link,
  &:visited {
    background-color: $color-white;
    border: 1px solid $color-primary-dark;
    border-radius: 10rem;
    display: inline-block;
    font-size: $medium-font-size;
    letter-spacing: 0.3rem;
    padding: 1rem 3rem;
    text-decoration: none;
    transition: all 0.3s;

    // Change for the <button> element
    cursor: pointer;
  }

  &:hover {
    // background-color: $color-primary;
    background-image: linear-gradient(
      to right bottom,
      rgba(#b29600, 0.8),
      rgba(#85714d, 0.8)
    );
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: $color-white;
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(-1px);
  }

  // Style the gold button
  &--gold {
    color: $color-grey-dark-3;

    &::after {
      border: 1px solid $color-primary-dark;
    }
  }

  &--email {
    font-size: $medium-font-size;
    vertical-align: middle;
  }

  &--animated {
    animation: appear 0.9s ease-out 3.3s backwards;
  }
}
