.form {

    &__group {
       margin: 0 auto;
       width: 40rem;
    }

    &__text {
        color: inherit;
        display: block;
        font-family: inherit;
        font-size: $small-font-size;
        margin: .6rem auto;
        width: 100%;
    }

    &__input {
        border: none;
        border-bottom: .5px solid $color-grey-dark-3;
        color: inherit;
        padding: .5rem .5rem;
        transform: translateY(.5rem);
        // transition:  0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        &:focus {
            &:placeholder-shown + .form__label {
                color: $color-primary;
                opacity: 1;
                transform: translateY(-4.5rem);
            }
        }

        &::-webkit-input-placeholder {
            color: $color-primary;
        }
    }

    &__label {
        color: $color-grey-dark-3;
        display: block;
        font-size: $small-font-size;
        opacity: 0;
        padding-left: .5rem;
        text-align: left;
        transform: translateY(-2.5rem);
        transition:  0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        &--message {
            color: #a1a8ab;
            display: block;
            text-align: left;
            padding-left: .5rem;
            transform: translateY(-23rem);
        }

    }

    &__message {
        margin-top: 3rem;
        min-height: 20rem;
        resize: horizontal;

        &:focus + .form__label--message {
                color: $color-primary;
                transform: translateY(2);
                transition: all .2s ease-out;
                opacity: 1;
            }
    }

    &__submit {
        margin-top: 1rem;
    }
}