.form {
  &__group {
    margin: 0 auto;
    width: 40rem;
  }

  &__text {
    color: inherit;
    display: block;
    font-family: inherit;
    margin: 0.6rem auto;
    margin-top: 2rem;
    width: 100%;
  }

  &__input {
    &:empty {
      &:placeholder-shown ~ .form__label {
        color: $color-grey-light-3;
        transform: translateY(-2rem);
      }
    }

    border: none;
    border-bottom: 0.5px solid $color-grey-light-3;
    color: inherit;
    padding: 0.5rem 0.5rem;
    transform: translateY(0.5rem);
    margin-bottom: -2px;

    &:focus {
      &:placeholder-shown ~ .form__label {
        color: $color-primary;
        transform: translateY(-4.5rem);
      }
    }
  }

  &__label {
    display: block;
    font-size: $small-font-size;
    padding-left: 0.5rem;
    text-align: left;
    transition: 0.3s cubic-bezier(0.65, -0.5, 0.25, 1.6);

    &--message {
      color: $color-grey-light-3;
      display: block;
      padding-left: 0.5rem;
      text-align: left;
      transform: translateY(-23rem);
      transition: all 0.3s ease-out;
    }
  }

  &__message {
    border: .5px solid $color-grey-light-3;
    border-radius: 3px;
    margin-top: 2.5rem;
    max-width: 100%;
    min-height: 20rem;
    padding: 5px;
    resize: none;

    &:focus + .form__label--message {
      color: $color-primary;
      transform: translateY(2);
      transition: all 0.2s ease-out;
    }
  }

  input:valid,
  input:invalid {
    & ~ .form__label {
      color: $color-primary;
      transform: translateY(-4.5rem);
    }
  }

  textarea:valid {
    & ~ label {
      color: $color-primary;
    }
  }
}
