.nav {

    &__list {
        list-style-type: none;
        font-size: $default-font-size;
        position: fixed;
        color: $color-white;
        top: 6.5rem;
        right: 6.5rem;
        text-shadow: .5px .5px black;

        &--item {

            float: right;
            font-weight: 500;
            display: inline-block;
            &:not(:last-child) {
                padding-left: 2rem;
            }
        }

    }

}