.nav {
  text-align: right;
  margin-top: -1rem;
  margin-right: 10rem;

  &__list {
    font-size: $default-font-size;

    &--item {
      color: $color-grey-dark-3;
      vertical-align: middle;
      display: inline-block;
      font-weight: 500;
      transition: all 0.2s ease-in;
      padding-left: 2rem;

      &:hover {
        color: $color-primary;
        cursor: pointer;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.navBurger {
  display: none;
}

@include respond(phone) {
  .nav {
    margin-right: 0;
    margin-top: -2rem;
  }

  .navBurger {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 26px;
    margin: -6px 40px 0 0;
    width: 26px;
  }

  .menu {
    height: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
  }

  .open {
    height: auto;
    transition: all 3s ease-out;
  }

  .menu a {
    border-bottom: 1px solid $color-grey-light-4;
    display: block;
    margin: 0;
    padding-top: 1rem;
  }
}
